body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar { 
  display :flex;
  flex-direction : row;
  margin:5px;
  justify-content: space-evenly;
  width: 100%;
  background-color: aqua;
  border-style: double;
  border-radius: 25%;
  border-width: 10px;
}

.contact{
  border: 10px;
  border-style:groove;
  border-radius: 10%;
  text-decoration-line: none;
  background-color: gold;
  padding: 10px;
  width: 50%;
  margin: 10px;
  border-radius: 10%;
}

.form{
  background-color: chartreuse;
}

#formbox{
  background-color: plum;
  padding: 25px;
  border-radius: 45%;
  margin-top: 50px;
}

#instructions{
  background-color: rosybrown;
}

#welcome{
  text-decoration: dotted;
  text-shadow: 100%;
  text-decoration-color: blueviolet;
  text-decoration: underline;
}

.indCard{
  border: 10px;
  border-style:groove;
  border-radius: 10%;
  text-decoration-line: none;
  background-color: gold;
  padding: 10px;
  width: 50%;
  margin: 10px;
  border-radius: 10%;
  font-weight: 800;
}


